* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h4,
h6,
p,
a,
div,
span,
button {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ffffff;
}
