:root {
  --bg-color: #111111;
  --bg-color-alt: #000000e6;
  --contrast-color: #e2b60b;

  --default-text-color: #e3e3e3;
  --success-text-color: #e2b60b;

  --free-seat-bg: #c3cfd9;
  --free-seat-border: #808f9d;

  --selected-seat-bg: #8dd7cf;
  --selected-seat-border: #45bdb0;

  --unavailable-seat-bg: #ca654c;
  --unavailable-seat-border: #ac442a;

  --black: #000000;
}
